<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
	<header>
		<h1><%= title %></h1>
		<ul class="type" id="type">
			<li data-type="dot" class="selected">Dot</li>
			<li data-type="column">Column</li>
		</ul>
		<p>
			Volume&nbsp<input id="volume" type="range" min="0" max="100" value="60">
		</p>
	</header><!--页眉-->
    <div class="left">
		<ul id="list">
			<%music.forEach(function(name){%>
				<li title="<%= name %>"><%= name %></li>
			<%})%>
		</ul>
	</div>
	<div class="right" id="box"></div>
	<script type="text/javascript" src="/javascripts/MusicVisualizer.js"></script><!--注意载入顺序-->
	<script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
